<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eventField</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>eventField</header>
    <p>
        <b>eventField</b> is a super-simple blogging platform that lets you author simple posts and embed them on your
        own website!
    </p>
    <p>
        Just <a href="/blogs">Create a New Blog</a>, then copy and paste the embed code into your website's code!
        Adding new posts, formatted with
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>, is easy! Just click
        "Add", write up your post, type in your password and hit "Submit"!
    </p>
</body>
</html>